{% extends "base.html" %}

{% block content %}
    <h1>Hi, it`s good to see you back {{ current_user.username }}!</h1>
    <p>
        See all messages <a href="{{ url_for('blog')}}">Forum</a>
    </p>
    {% for post in posts %}
    <table class="table1" style="width: 50%;margin-left: 15px;">
        <thead style="background-color: #d2881a;">
            <tr>
                <th>{{ post.author.username }}</th>
            </tr>
        </thead>
        <tr>
            <td style="width: 100%;background-color: #1ad285;">{{ post.body }}</td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}
